body {
    font-family: Arial;
    background-color: #eee;
}

header, footer {
    background-color: #ccc;
    text-align: center;
    padding: 10px;
}

nav ul {
    background-color: #aaa;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 5px;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #aaa;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #888;
    color: #fff;
    padding: 10px;
    border: none;
}

video, audio {
    display: block;
    margin: 10px 0;
}

